@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
        class="btn btn-info home-button">
    Phone Shop
</button>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
