.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
        padding-top: 1rem;
}

.search-panel{
    margin: 10px;
}


@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
