

.media-img{
  max-width :150px;
  padding: 5px;
  white-space: nowrap;
    
}

.sidefeatured {
    color: white;
   text-align: center;
}
.mb-0 {
    font-size: 100%;
    color: #d7d7d7;
    display: inline-block;
}

.price-old {
    font-size: 80%;
    color: red;
    display: inline-block;
    text-decoration: line-through;
    margin-bottom: 0px;
}
.price-new {
    font-size: 100%;
    color: green;
    display: inline-block;
    margin-bottom: 0px;
  
}
.navbar-brand {
    color: white;
    margin-left:+12px;
}

.navbar-background{
    padding: 10px 0 10px 12px;
background-color: darkslateblue;
}

@media (max-width :641px) {
    .sidefeatured {
        display: none;
    }
}
