@page "/contact"

<PageTitle>Kontakt</PageTitle>

<center><a class="navbar-brand">Kontakt</a></center>

<a class="address" href="https://github.com/mgorys">
    Github:
</a>
<br>
<a class="address" href="https://www.linkedin.com/in/michał-goryszewski-474398235/">
    Linkedin:
</a>


