@page "/contact"

<PageTitle>Kontakt</PageTitle>

    <center><a class="navbar-brand">Kontakt</a></center>

<div class="container">
    <a href="https://github.com/mgorys">
        <a href="https://github.com/mgorys" class="fa fa-github"></a>
    </a>
    <br>
    <a href="https://www.linkedin.com/in/michał-goryszewski-474398235/">

        <a href="https://www.linkedin.com/in/michał-goryszewski-474398235/" class="fa fa-linkedin"></a>
    </a>
</div>


